body {
  background-color: #135f6f;
  background-image: -moz-linear-gradient(top, #00455b, #30878f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00455b), to(#30878f));
  background-image: -webkit-linear-gradient(top, #00455b, #30878f);
  background-image: -o-linear-gradient(top, #00455b, #30878f);
  background-image: linear-gradient(to bottom, #00455b, #30878f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00455B', endColorstr='#FF30878F', GradientType=0);
}