<legend>Product</legend>
<div class="span4 well">
    <div class="row">
        <div class="span1">name: </div>
        <div class="span3"><%=product.name || ''%></div>
    </div>
    <div class="row">
        <div class="span1">brand: </div>
        <div class="span3"><%=product.brand || ''%></div>
    </div>
    <div class="row">
        <div class="span1">category: </div>
        <div class="span3"><%=product.category || ''%></div>
    </div>
    <div class="row">
        <div class="span1">description: </div>
        <div class="span3"><%=product.description || ''%></div>
    </div>
    <div class="row">
        <div class="span1">url: </div>
        <div class="span3"><%=product.url || ''%></div>
    </div>
</div>
