#shotgun
  svg(width='200', height='230')
    g(transform='translate(100,100)')
      g.progress-meter
        path.background(d='M0,60A60,60 0 1,1 0,-60A60,60 0 1,1 0,60M0,50A50,50 0 1,0 0,-50A50,50 0 1,0 0,50Z')
        path.foreground(d='M3.673819061467132e-15,-60A60,60 0 1,1 -20.67857539047085,-56.32403145923251L-17.23214615872571,-46.93669288269376A50,50 0 1,0 3.061515884555943e-15,-50Z')
        text.percentage(text-anchor='middle', dy='105px') 90%
        text.status(text-anchor='middle', dy='125px') Active cell is loading
