<div class="span6 well">

    <div class="rule-header">
        <h3 id="myRuleLabel">Rule</h3>
    </div>


    <div class="row">
        <div class="span2">name: </div>
        <div class="span4"><%=rule.name || ''%></div>
    </div>

    <div class="row">
        <div class="span2">description: </div>
        <div class="span4"><%=rule.description || ''%></div>
    </div>

    <div class="row">
        <div class="span2">content_failure: </div>
        <div class="span4"><%=rule.content_failure || ''%></div>
    </div>

    <div class="row">
        <div class="span2">start_datetime: </div>
        <div class="span4"><%=rule.start_datetime || ''%></div>
    </div>

    <div class="row">
        <div class="span2">end_datetime: </div>
        <div class="span4"><%=rule.end_datetime || ''%></div>
    </div>

    <div class="row">
        <div class="span2">counter: </div>
        <div class="span4"><%=rule.counter || ''%></div>
    </div>

    <div class="row">
        <div class="span2">counter_to_day: </div>
        <div class="span4"><%=rule.counter_to_day || ''%></div>
    </div>

    <div class="row">
        <div class="span2">counter_to_hour: </div>
        <div class="span4"><%=rule.counter_to_hour || ''%></div>
    </div>

    <div class="row">
        <div class="span2">creation_datetime: </div>
        <div class="span4"><%=utils.date(offer.lm) || ''%></div>
    </div>

    <% if (role == "issuer" || role == "admin") { %>
        <div class="rule-footer">
            <button class="btn btn-primary showModal" _id=<%=rule.id%>>Change rule</button>
            <button _id=<%=rule.id%> class="btn btn-small btn-danger pull-right delete" type="button"><i class="icon-remove"></i> Delete</button>
        </div>
    <% } %>
</div>


