<div class="container">
    <div class="row">
        <div class="span5">
            <form id="issuer-form" class="form-horizontal">
                <fieldset>
                    <legend>
                        <i class="icon-plus-sign"></i> 
                        <%=nls.issuerForm.header%> 
                    </legend>

                    <div class="control-group">
                        <label class="control-label" for="issuer-name"><%=nls.issuerForm.name%></label>
                        <div class="controls">
                            <input type="text" required class="input-large" name="name" value="<%=issuer.name || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="issuer-name"><%=nls.issuerForm.descFull%></label>
                        <div class="controls">
                            <input type="text" class="input-large" name="descFull" value="<%=issuer.descFull || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="issuer-name"><%=nls.issuerForm.descShort%></label>
                        <div class="controls">
                            <input type="text" class="input-large" name="descShort" value="<%=issuer.descShort || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="issuer-name"><%=nls.issuerForm.logo%></label>
                        <div class="controls">
                            <input type="text" class="input-large" name="logo" value="<%=issuer.logo || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="issuer-name"><%=nls.issuerForm.url%></label>
                        <div class="controls">
                            <input type="text" class="input-large" name="url" value="<%=issuer.url || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="issuer-name"><%=nls.issuerForm.address%></label>
                        <div class="controls">
                            <input type="text" class="input-large" name="address" value="<%=issuer.address || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="issuer-name"><%=nls.issuerForm.city%></label>
                        <div class="controls">
                            <input type="text" class="input-large" name="city" value="<%=issuer.city || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="issuer-name"><%=nls.issuerForm.country%></label>
                        <div class="controls">
                            <input type="text" class="input-large" name="country" value="<%=issuer.country || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="issuer-name"><%=nls.issuerForm.zip%></label>
                        <div class="controls">
                            <input type="text" class="input-large" name="zip" value="<%=issuer.zip || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="issuer-name"><%=nls.issuerForm.phone%></label>
                        <div class="controls">
                            <input type="text" class="input-large" name="phone" value="<%=issuer.phone || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>
                    <% if (!issuer.active) { %>
                        <div class="control-group">
                            <div class="controls">
                                <button id="issuer-submit" type="submit" class="btn btn-primary"> <i class="icon-signin"> </i> <%=nls.save%> </button>
                            </div>
                        </div>
                    <% } %>

                </fieldset>
            </form>
        </div>
    </div>
</div>


