<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container" id="top-navigation-panel" style="text-align: center">

            <a id="msg-win" class="brand" data-animation="true" data-placement="bottom" href="#"><%=nls.panel.brand%></a>
            <div class="nav-collapse">
                <ul class="nav">
                    <!--<li rel="about"><a id="toAbout" href="#about"> <i class="icon-info-sign"></i> <%=nls.about%> </a></li>-->
                    <!--<li rel="about"><a id="toHome" href="#home"> <i class="icon-info-sign"></i> <%=nls.home%> </a></li>-->
                    <% if (user.roles.indexOf('user') !== -1) { %>
                        <li><a href="#list/user/channel/1"> <%=nls.channels%> </a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <%=nls.panel.my%>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" style="text-align: left">
                                <li> <a href="#list/my/channel/1"> <%= nls.panel.channels %> </a> </li>
                                <li> <a href="#my/news"> <%= nls.panel.news %> </a> </li>
                            </ul>
                        </li>
                    <% } %>

                    <% if (user.roles.indexOf('issuer') !== -1) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <%=nls.panel.issuer%>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" style="text-align: left">
                                <li><a href='#list/issuer/product/1'>products</a></li>
                                <li><a href='#list/issuer/channel/1'>channels</a></li>
                                <li><a href='#list/issuer/offer/1'>offers</a></li>
                                <li><a href='#list/issuer/user/1'>users</a></li>
                            </ul>
                        </li>
                    <% } %>

                    <% if (user.roles.indexOf('awarder') !== -1) { %>
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                                <!--<%=nls.panel.awarder%>-->
                                <!--<b class="caret"></b>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu" style="text-align: left">-->
                                <!--<li><a href='#list/awarder/user/1'>users</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <% } %>

                    <% if (user.roles.indexOf('admin') !== -1) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <%=nls.panel.admin%>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" style="text-align: left">
                                <li><a href='#list/admin/user/1'>users</a></li>
                                <li><a href='#list/admin/issuer/1/unactive'>issuers</a></li>
                                <li><a href='#list/admin/awarder/1/unactive'>awarders</a></li>
                                <li><a href='#list/admin/product/1'>products</a></li>
                                <li><a href='#list/admin/channel/1'>channels</a></li>
                                <li><a href='#list/admin/offer/1'>offers</a></li>
                                <li><a href='#list/admin/application/1'>applications</a></li>
                            </ul>
                        </li>
                    <% } %>

                </ul>
            </div>
            <div id="user-panel" class="nav-collapse pull-right">
                <ul class="nav">
                    <li rel="auth" id="auth-nav">
                        <% if (!user.login) { %>
                            <a href="#auth/join"> 
                        <% } else { %>
                            <a href="#auth/profile"> 
                        <% } %>
                        <i class="icon-signin"></i> <%= nls.auth.auth %> </a>
                    </li>
                    <% if (user.roles.length > 0) { %>
                        <li class="dropdown" id="auth-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i>
                                <span><%=name%></span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <!--<li> <a id="toPrefs" href="#prefs"> <i class="icon-cog"></i> <%= nls.prefs %> </a> </li>-->
                                <li> <a href="#logout"> <i class="icon-signout"></i> <%= nls.logout %> </a> </li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>

