<div class="modal modal-update hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form class="form-horizontal save-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Offer</h3>
        </div>
        <div class="modal-body">

            <% if (entity.id) { %>
                <input type="hidden" name="id" value="<%=entity.id%>">
            <% } %>

            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input type="text" required name="name" value="<%=entity.name || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">code_ref</label>
                <div class="controls">
                    <input type="text" required name="code_ref" value="<%=entity.code_ref || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Type</label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" name="type" value="coupon" <% if( entity.type == "coupon") { %> checked <% } %> > coupon
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="type" value="free" <% if( entity.type == "free" || !entity.type) { %> checked <% } %> > free
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="type" value="3x2" <% if( entity.type =="3x2") { %> checked <% } %> > 3x2
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="type" value="%" <% if( entity.type == "%") { %> checked <% } %> > %
                    </label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Category</label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" name="category" value="electronics" <% if (entity.category == "electronics") { %> checked <% } %> > electronics
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="category" value="restaurants" <% if (entity.category == "restaurants") { %> checked <% } %> > restaurants
                    </label>
                    <label class="radio inline">
                        <input type="radio"  name="category" value="other" <% if( entity.category == "other"  || !entity.category) { %> checked <% } %> > other
                    </label>
                </div>
            </div>


            <div class="control-group">
                <label class="control-label">Conditions</label>
                <div class="controls">
                    <input type="text" required name="conditions" value="<%=entity.conditions || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Description</label>
                <div class="controls">
                    <input type="text" name="description" value="<%=entity.description || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Short description</label>
                <div class="controls">
                    <input type="text" name="short_description" value="<%=entity.short_description || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Logo url</label>
                <div class="controls">
                    <input type="text" name="logo_url" value="<%=entity.logo_url || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Url</label>
                <div class="controls">
                    <input type="text" name="url" value="<%=entity.url || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Media</label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" name="media" value="moobs" <% if( entity.media == "moobs" || !entity.media) { %> checked <% } %> > moobs
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="media" value="tv" <% if( entity.media == "tv") { %> checked <% } %> > tv
                    </label>
                    <label class="radio inline">
                        <input type="radio"  name="media" value="hub" <% if( entity.media == "hub") { %> checked <% } %> > hub
                    </label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Unicode count</label>
                <div class="controls">
                    <input type="text" name="unicode_count" value="<%=entity.unicode_count || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Start datetime</label>
                <div class="controls">
                    <input type="text" name="start_datetime" value="<%=entity.start_datetime || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">End datetime</label>
                <div class="controls">
                    <input type="text" name="end_datetime" value="<%=entity.end_datetime || ''%>">
                </div>
            </div>



        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-primary save">Save</button>
        </div>
    </form>
</div>



